<!-- 
/*
Project: Mentors Academy
Copyright © 2018 Solution Zone, LLC.. All rights reserved.
Author: John K Johansen

Description: Mentors Academy is a self-publishing site where students can share academic papers and discoveries.

Details: The implementation of Mentors Academy


*/


-->

@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h2>@ViewData["Title"].</h2>
<p>
    Please check your email to reset your password.
</p>
